@import url("https://fonts.googleapis.com/css?family=Rajdhani:600,700|Roboto:400,500,500i");

/* Medium Layout: 1280px */
/* Tablet Layout: 768px */
/* Mobile Layout: 320px */
/* Wide Mobile Layout: 480px */
body {
  line-height: 24px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #777777; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rajdhani", sans-serif;
  font-weight: 600; }

.list {
  list-style: none;
  margin: 0px;
  padding: 0px; }

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out; }
  a:hover, a:focus {
    text-decoration: none;
    outline: none; }

button:focus {
  outline: none;
  box-shadow: none; }

.mt-25 {
  margin-top: 25px; }

.p0 {
  padding-left: 0px;
  padding-right: 0px; }

.white_bg {
  background: #fff !important; }

/*---------------------------------------------------- */
/*----------------------------------------------------*/
.section_gap {
  padding: 120px 0; }
  @media (max-width: 767px) {
    .section_gap {
      padding: 60px 0; } }

.section_gap_top {
  padding-top: 120px; }
  @media (max-width: 767px) {
    .section_gap_top {
      padding-top: 60px; } }

.section_gap_bottom {
  padding-bottom: 120px; }
  @media (max-width: 767px) {
    .section_gap_bottom {
      padding-bottom: 60px; } }

img {
  max-width: 100%; }

.primary_btn {
    display: inline-block;
    background: -webkit-linear-gradient(to right, #3fcaff 0%, #a4ffb0 51%, #3fcaff 100%);
    background: -moz-linear-gradient(to right, #3fcaff 0%, #a4ffb0 51%, #3fcaff 100%);
    background: -ms-linear-gradient(to right, #3fcaff 0%, #a4ffb0 51%, #3fcaff 100%);
    background: -o-linear-gradient(to right, #3fcaff 0%, #a4ffb0 51%, #3fcaff 100%);
    background: linear-gradient(to right, #3fcaff 0%, #a4ffb0 51%, #3fcaff 100%);
    background-size: 200% auto;
    padding: 0px 35px;
    color: #222222;
    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 50px;
    border-radius: 5px;
    outline: none !important;
    box-shadow: 0px 10px 30px rgba(163, 255, 177, 0.2);
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    text-transform: uppercase;
    border-radius: 50px;
}
  .primary_btn:hover {
    background-position: right center;
    color: #22195e; }

.header_area {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  background: #2c2172; }
  .header_area .navbar-brand {
    margin-right: 30px; }
  .header_area .menu_nav {
    width: 100%; }
  .header_area .navbar {
    background: transparent;
    padding: 0px;
    border: 0px;
    border-radius: 0px;
    width: 100%; }
    .header_area .navbar .nav .nav-item {
      margin-right: 45px; }
      .header_area .navbar .nav .nav-item .nav-link {
        font: 500 12px/100px "Roboto", sans-serif;
        text-transform: uppercase;
        color: #fff;
        padding: 0px;
        display: inline-block; }
        .header_area .navbar .nav .nav-item .nav-link:after {
          display: none; }
      .header_area .navbar .nav .nav-item:hover .nav-link, .header_area .navbar .nav .nav-item.active .nav-link {
        color: #3fcaff; }
      .header_area .navbar .nav .nav-item.submenu {
        position: relative; }
        .header_area .navbar .nav .nav-item.submenu ul {
          border: none;
          padding: 0px;
          border-radius: 0px;
          box-shadow: none;
          margin: 0px;
          background: #fff; }
          @media (min-width: 992px) {
            .header_area .navbar .nav .nav-item.submenu ul {
              position: absolute;
              top: 120%;
              left: 0px;
              min-width: 200px;
              text-align: left;
              opacity: 0;
              transition: all 300ms ease-in;
              visibility: hidden;
              display: block;
              border: none;
              padding: 0px;
              border-radius: 0px;
              box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.4); } }
          .header_area .navbar .nav .nav-item.submenu ul:before {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 10px 0 10px;
            border-color: #eeeeee transparent transparent transparent;
            position: absolute;
            right: 24px;
            top: 45px;
            z-index: 3;
            opacity: 0;
            transition: all 400ms linear; }
          .header_area .navbar .nav .nav-item.submenu ul .nav-item {
            display: block;
            float: none;
            margin-right: 0px;
            border-bottom: 1px solid #ededed;
            margin-left: 0px;
            transition: all 0.4s linear; }
            .header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
              line-height: 45px;
              color: #222222;
              padding: 0px 30px;
              transition: all 150ms linear;
              display: block;
              margin-right: 0px; }
            .header_area .navbar .nav .nav-item.submenu ul .nav-item:last-child {
              border-bottom: none; }
            .header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
              background-image: -moz-linear-gradient(0deg, #4dabff 0%, #62ddff 100%);
              background-image: -webkit-linear-gradient(0deg, #4dabff 0%, #62ddff 100%);
              background-image: -ms-linear-gradient(0deg, #4dabff 0%, #62ddff 100%);
              color: #fff; }
        @media (min-width: 992px) {
          .header_area .navbar .nav .nav-item.submenu:hover ul {
            visibility: visible;
            opacity: 1;
            top: 100%; } }
        .header_area .navbar .nav .nav-item.submenu:hover ul .nav-item {
          margin-top: 0px; }
      .header_area .navbar .nav .nav-item:last-child {
        margin-right: 0px; }
  .header_area.navbar_fixed .main_menu {
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    background: #2c2172;
    transform: translateY(70px);
    transition: transform 500ms ease, background 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1); }
    .header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
      line-height: 70px; }
  @media (min-width: 992px) {
    .header_area.white_menu .navbar .navbar-brand img {
      display: none; }
      .header_area.white_menu .navbar .navbar-brand img + img {
        display: inline-block; } }
  @media (max-width: 991px) {
    .header_area.white_menu .navbar .navbar-brand img {
      display: inline-block; }
      .header_area.white_menu .navbar .navbar-brand img + img {
        display: none; } }
  .header_area.white_menu .navbar .nav .nav-item .nav-link {
    color: #fff; }
  .header_area.white_menu.navbar_fixed .main_menu .navbar .navbar-brand img {
    display: inline-block; }
    .header_area.white_menu.navbar_fixed .main_menu .navbar .navbar-brand img + img {
      display: none; }
  .header_area.white_menu.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
    line-height: 70px;
    color: #222222; }
  .header_area .navbar-right .primary_btn {
    min-width: 135px;
    text-transform: uppercase;
    border-radius: 50px;
    line-height: 40px; }

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Home Banner Area css
============================================================================================ */
.home_banner_area {
  z-index: 1;
  background: url(../images/home-banner.jpg) no-repeat center center;
  background-size: cover; }
  .home_banner_area .banner_inner {
    width: 100%; }
    .home_banner_area .banner_inner .home_left_img {
      padding-top: 150px;
      padding-bottom: 50px; }
    .home_banner_area .banner_inner .col-lg-6 {
      vertical-align: middle;
      align-self: center; }
    .home_banner_area .banner_inner .banner_content {
      text-align: left;
      color: #fff;
      margin-left: 70px; }
      .home_banner_area .banner_inner .banner_content h2 {
        margin-top: 0px;
        font-size: 60px;
        font-weight: bold;
        line-height: 52px;
        margin-bottom: 20px;
        text-align: center;
        color: #eac15a;
        text-transform: uppercase;
        word-break: break-word;
    }
      .home_banner_area .banner_inner .banner_content p {
        color: #fff;
        font-size: 20px;
        margin-bottom: 20px;
        text-align: center;
    }
      .home_banner_area .banner_inner .banner_content .watch_video {
        margin: 0 30px;
        font-size: 12px;
        text-transform: uppercase; }

.mb-20 {
  margin-bottom: 20px; }

.mb-30 {
  margin-bottom: 30px; }

.arrow span {
  padding-left: 5px; }

.white-bg {
  background: #fff; }

.section-top-border {
  padding: 50px 0;
  border-top: 1px dotted #eee; }

.switch-wrap {
  margin-bottom: 10px; }

.switch-wrap p {
  margin: 0; }


h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }    
  
  .home_banner_area .banner_inner .home_left_img {
    display: none; }

  .header_area .navbar .primary_btn {
    display: none; }

  .home_banner_area .banner_inner {
    padding: 70px 0px 100px 0px; }
  
@media (max-width: 480px) {
  /* Main Menu Area css
  ============================================================================================ */
  .header_area .navbar-collapse {
    max-height: 250px; }

  .home_banner_area .banner_inner .banner_content {
    padding: 30px 0px;
    margin-top: 0px; }

  .home_banner_area .banner_inner .banner_content h3 {
    font-size: 24px; }
  }

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .primary_btn {
    line-height: 40px; }

  .home_banner_area .banner_content {
    margin-left: 20px !important; }
  }

/* Structure begins */

.structure-wrapper{
    background-color: #2c2172;
}

.structure-wrapper .structure-heading{
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    color: #eac15a;
}

.rules-wrapper .rules-heading, .guidelines-wrapper .guideline-heading{
    text-transform: uppercase;
    color: #eac15a;
    width: max-content;
    border-bottom: #eac15a solid 3px;
}

.rules-wrapper .rules-info, .guidelines-wrapper .guideline-info{
    font-size: 20px;
    color: #66ccff;
}

.rules-wrapper .rules .rule-item, .guidelines-wrapper .guidelines .guideline-item{
    color: #eac15a;
    font-size: 18px;
    margin-bottom: 7px;
}

.rules-wrapper .rules .rule-item a{
    color: #66ccff;
}

.rules-wrapper .rules .rule-item a:hover{
    text-decoration: underline;
}

/* Structure ends */